.chatbox{
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    margin-bottom: .8rem;
    height: 60vh;
    width: 60%;
    padding: 5rem 20rem 0 20rem;
    overflow-x:hidden;
    overflow-y: scroll;
}

@media(max-width:540px){
    .chatbox{
        height: 75vh;
        width: 100%;
        padding: 0;
        margin-top: 50px;
}
}