.user-output{
    display: flex;
    flex-direction: column;
    align-items: end;
    animation: slideInRight 1s ease  forwards;
    margin-bottom: 2rem;
}

@keyframes slideInRight {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
}

.user-output > .text-box{
    position: relative;
    z-index: 2;
    max-width: 60%; 
    border-radius: 10px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    margin-bottom: 1rem;
    /* font-size: 18px; */
    /* background-color: #88d1ff77; */
    background-image: linear-gradient(to bottom right, rgba(222, 248, 250, 0.594) 5%, #88d1ffa2);
    padding: .75rem;
    box-shadow: 2px 2px 3px grey;
}

.user-output .text-box p{
    font-size: 18px;
    color: #333;
}
.user-output .text-box h5 {
    font-size: 13px;
    margin-top: .1rem;
    color: #333333ab;
    text-align: right;
    /* border-top: 1px dashed #2c81b6b6; */
    border-top: 1px dashed #3333332d;
}

.ai-tools{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: left;
    align-items: end;
}

.active-tools{
    display: flex;
    column-gap: 1rem;
}

.translate-btn, .summarize-btn{
    border: none;
    border-radius: 0px;
    padding: 7px 5px;
    color: #ffffff;
    box-shadow: 1px 1px 3px grey;
    transition: scale .4s ease;
}

.translate-btn, .summarize-btn{
    border: none;
    border-radius: 0px;
    padding: 7px 5px;
    color: #ffffff;
    box-shadow: 1px 1px 3px grey;
    transition: scale .4s ease;
}

.translate-btn{
    background-image: linear-gradient(to bottom right, rgba(121, 171, 229, 0.594) 5%, rgba(30, 51, 76, 0.594));
}

.summarize-btn{
    margin-left: .6rem;
    background-image: linear-gradient(to bottom right, rgba(121, 229, 150, 0.594) 5%, rgba(30, 76, 62, 0.594));
}

.translate-btn i, .summarize-btn i{
font-size: 10px;
}

.translate-btn:hover, .summarize-btn:hover{
    scale: 1.04;
}


@media(max-width:540px){
    .user-output{
        transform: translateX(-10px);
    }
    
    .translate-btn, .summarize-btn{
      font-size: .7em;
        padding: 7px 5px;
    }
    

    .user-output .text-box p{
        font-size: 16px;
    }
    .user-output .text-box h5 {
        font-size: 11px;
    }
    
}
