/* Loader Styles */
.morph-container {
    width: 300px;
    height: 100px;
    transform: translateX(-90px);
}

.morph-container svg {
    width: 100%;
    height: 100%;
}

.morph-container text {
    font-size: 2rem;
    font-weight: bold;
    fill: #333;
    text-anchor: middle;
    dominant-baseline: middle;
    transform-origin: bottom left;
    animation: fadeEffect 1s ease-in-out infinite;
}

@keyframes fadeEffect {
    0% { opacity: 0; transform: scale(0.8); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.2); }
}

/* AI Output Styles */
.AI-output{
    display: flex;
    column-gap: 1rem;
    animation: slideInLeft 1s ease  forwards;
    margin-bottom: 2rem;
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
}

.AI-output div:last-child{
    border-left: 1px solid grey;
    padding-left: 1rem;
}

.AI-output > p{
    max-width: 60%; 
    border-radius: 10px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    font-size: 18px;
}

.AI-output > p.alert{
   background-color: rgba(255, 0, 0, 0.085);
   color: red;
   padding: .5rem;
}

.summarizer-loader{
    opacity: 1;
    animation: pulsingAppearance 1s ease-in-out  infinite alternate-reverse  forwards;
}

.fa-clipboard{
    position:relative;
    top:-5px;
    left:5px;
    cursor :pointer
}

/* .copy-alert{
    display: none;
    position: absolute;
    top: 0;
    transform: translateX(-18px);
    width: 70px;
    height: 49px;
    place-items: center;
    text-align: center;
    font-size:12px;
    color: #fff;
    animation: scaleUp .2s cubic-bezier(1,-0.03,.63,1.46);
    background-color: #333333c4;
} */


.copy-alert {
    position: absolute;
    top: -30px; /* Position above the button */
    /* left: 50%; */
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Prevent interaction */
  }

  .copy-alert.show {
    opacity: 1;
  }

@keyframes scaleUp{
   to{
    transform: scale(1);
   }
}

.fa-clipboard:active{
    scale: 0.8;
}

@keyframes pulsingAppearance  {
    to{
        opacity: 0;
    }
}


@media(max-width:540px){
    .AI-output > p{
        font-size: 14px;
    }
    
}
