/* Loader Styles */
.morph-container {
    width: 300px;
    height: 100px;
}

.morph-container svg {
    width: 100%;
    height: 100%;
}

.morph-container text {
    font-size: 2rem;
    font-weight: bold;
    fill: #333;
    text-anchor: middle;
    dominant-baseline: middle;
    transform-origin: bottom left;
    animation: fadeEffect 1s ease-in-out infinite;
}

@keyframes fadeEffect {
    0% { opacity: 0; transform: scale(0.8); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.2); }
}

/* AI Output Styles */
.AI-output{
    display: flex;
    /* flex-direction: column; */
    /* align-items: baseline; */
    column-gap: 1rem;
    animation: slideInLeft 1s ease  forwards;
    margin-bottom: 2rem;
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
}

.AI-output div:last-child{
    border-left: 1px solid grey;
    padding-left: 1rem;
}

.AI-output > p{
    max-width: 60%; 
    border-radius: 10px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    font-size: 18px;
}

.AI-output > p.alert{
   background-color: rgba(255, 0, 0, 0.085);
   color: red;
   padding: .5rem;
}

@media(max-width:540px){
    .AI-output > p{
        font-size: 14px;
    }
    
}
