#intro-container{
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    /* height: 100dvh; */
    place-items: center;
}

.txt-type{
    position: relative;
    display: inline-block;
    font-size: 4rem;
    text-align: center;
    transform: translateY(-80%);
  }
  
  .static-cursor{
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 90%;
    width: 2px;
    background: #000;
  }
  
  .blinking-cursor{
    position: absolute;
    right: 0px;
    display: inline-block;
    height: 90%;
    width: 2px;
    background: #000;
    animation: cursorBlink infinite;
    animation-duration:.5s;
    opacity: 0;
  }
  
  .blinking-cursor__xtra{
    display: inline-block;
    height: 39px;
    width: 2px;
    background: #000;
    animation: cursorBlink infinite;
    animation-duration:.7s;
    opacity: 0;
  }
  
  @keyframes cursorBlink {
     to{
       opacity: 1;
     }
  }

  @media(max-width:1024px){
    .static-cursor, .blinking-cursor,.blinking-cursor__xtra{
     display: none;
    }
    
  }

  @media(max-width:540px){
    .txt-type{
      font-size: 3rem;
      padding: 0.4rem;
    }    
  }