#nav-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #ecfeff65;
}

#navtools{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    column-gap: .1rem;
}

#navtools button{
    color: #213547;;
}

#navtools h2{
    padding: 0 5px;
}

#navtools button{
    background: transparent;
}

@media(max-width: 540px){
    #navtools{
        margin-left: 0rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width:  90%;
        margin: auto;
        /* column-gap: .1rem; */
    }
    #nav-container{
        /* flex-direction: row-reverse; */
        /* position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        height: 4rem;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #ecfeff65; */
    }
}