*{
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  overflow-x: hidden;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
    color: #213547;
  background-color: #e4feff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
}

::selection{
  background-color: rgba(135, 207, 235, 0.407) ;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1b1a1a36;
  backdrop-filter: blur(7px);
  cursor: pointer;
  transition: border-color 0.25s;
}

textarea{
  max-width: 48rem;
  width: 60%;
  height: 60px;
  padding: 10px;
  border-radius: 15px;
  font-size: 17px;
  resize: none;
  }

  @media(max-width:540px){
    textarea{
      width: 70%;
      height: 40px;
    }
}

