#user-input-wrapper{
    /* position: fixed; */
    /* bottom: 5%; */
    width: 90%;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

#intro-user-input-wrapper{
    position: fixed;
    bottom: 25%;
    width: 90%;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}


#submit-btn{
    width: 70px;
    height: 82px;
    border-radius: 10px;
}

#submit-btn:hover{
    border: 1px solid black
}

#submit-btn:disabled:hover{
    border: none
}

@media(max-width:1024px){
}

@media(max-width:540px){
    #user-input-wrapper{
        bottom: 2%;
        left: 0%;
        width: 100%;
        column-gap: .5rem;
    }
    #submit-btn{
        width: 40px;
        height: 60px;
        padding: 1px;
        font-size: .8em;
        /* border-radius: 5px; */
    }

    /* #intro-user-input-wrapper{
        position: fixed;
        bottom: 40%;
        width: 90%;
        max-width: 100rem;
        display: flex;
        justify-content: center;
        column-gap: .5rem;
    } */
}